.container{
    display: flex;
    align-items: center;
    padding: 10%;
    flex-direction: column;
    gap: 2rem;
}

.formItem{
    display: flex;
    align-items: center;
    gap: 1.145rem;
}

.itemPost{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.containerUl{
    display: flex;
    align-items: center;
    width: 99%;
    justify-content: center;
}